language: android
sudo: false

git:
 depth: 3

jdk:
  - oraclejdk8

env:
 global:
  - _JAVA_OPTIONS="-Xms48m -Xmx2048m"

android:
  components:
    - platform-tools
    - tools
    - build-tools-26.0.1
    - android-25
    - android-26
    - extra-android-m2repository
    - extra-google-m2repository 
  licenses:
    - android-sdk-license-.+

script:
 - ./gradlew clean app:assembleDebug testDebug

before_install:
  - bash .travis-android-licenses.sh